/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 15, 2020, 11:39:37 AM
    Author     : marko
*/




@font-face {
  font-family: 'BodoniSvtyTwoITCTT-Book';
  src: url('fonts/BodoniSvtyTwoITCTT-Book(1)/BodoniSvtyTwoITCTT-Book.eot?#iefix') format('embedded-opentype'),
      url('fonts/BodoniSvtyTwoITCTT-Book(1)/BodoniSvtyTwoITCTT-Book.woff') format('woff'),
      url('fonts/BodoniSvtyTwoITCTT-Book(1)/BodoniSvtyTwoITCTT-Book.ttf')  format('truetype'),
      url('fonts/BodoniSvtyTwoITCTT-Book(1)/BodoniSvtyTwoITCTT-Book.svg#BodoniSvtyTwoITCTT-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}
