
@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap');


//font-family: 'Lato', sans-serif;

$lato:'Lato', sans-serif;
$bodoni:'Bodoni-Book';



@font-face {
  font-family: 'Bodoni-Book';
  src: url('fonts/BodoniSvtyTwoITCTT-Book(1)/BodoniSvtyTwoITCTT-Book.eot?#iefix') format('embedded-opentype'),
      url('fonts/BodoniSvtyTwoITCTT-Book(1)/BodoniSvtyTwoITCTT-Book.woff') format('woff'),
      url('fonts/BodoniSvtyTwoITCTT-Book(1)/BodoniSvtyTwoITCTT-Book.ttf')  format('truetype'),
      url('fonts/BodoniSvtyTwoITCTT-Book(1)/BodoniSvtyTwoITCTT-Book.svg#BodoniSvtyTwoITCTT-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}