

//

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');


@font-face {
    font-family: 'Bodoni';
    src: url('fonts/Desktop/Fonts/subset-Bodoni-Book.eot');
    src: 
        local('Bodoni'),
        url('fonts/Desktop/Fonts/subset-Bodoni-Book.eot?#iefix') format('embedded-opentype'),
        url('fonts/Desktop/Fonts/subset-Bodoni-Book.woff2') format('woff2'),
        url('fonts/Desktop/Fonts/subset-Bodoni-Book.woff') format('woff'),
        url('fonts/Desktop/Fonts/subset-Bodoni-Book.ttf') format('truetype'),
        url('fonts/Desktop/Fonts/subset-Bodoni-Book.svg#Bodoni-Book') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swapf
}