$default-font:$lato;
$font-weight-regular:400;
$bodoni:'Bodoni-Book';

img{
    max-width: 100%;
}

html{
    font-size: 10px; // 1 rem
}

body{
    font-family: $default-font;
    font-weight: $font-weight-regular;
}


p{
    font-weight: $font-weight-light;
    font-size: 1.6rem;
    line-height: 2.3rem;
}

h1{
    font-size: 6rem;
    line-height: 8.4rem;
    letter-spacing: 2rem;
    font-family:$bodoni;
    
}
h2, .h2{
    font-size: 3.6rem;
    line-height: 4.4rem;
    text-transform: uppercase;
    text-decoration: none;
    
}
.h3{
    font-size: 3rem;
    line-height: 2.7rem;
    font-family: $lato;
    text-transform: uppercase;
}

h3{
   font-size: 3rem;
    line-height: 4.5rem;
    letter-spacing: 0.5rem; 
    font-family: $bodoni;
    text-transform: uppercase;
}

    h3:after{
    content: "";
    width: 74px;
    height: 1px;
    background-color:$primary;
    display: block;
    margin-top: 20px;
    margin-bottom: 43px;
   
}
.date{
    font-family: $bodoni;
    font-size: 1.4rem;
    line-height: 1.7rem;
    letter-spacing: 0.1rem;
    
}
  .first{
        font-size: 2rem;
        line-height: 2.8rem;
    }
    .second{
        font-size: 1.8rem;
        line-height: 2.6rem;  
    }