//variables
$about-us-title-font-family: $lato;
$form-control-font: $bodoni;
$form-placeholder-color: $primary;
$btn-hover-color:$secondary;
$form-span-color: $gray-900;


.about-us{
    padding: 70px 0;
    .about-us-item-title{
        font-family: $about-us-title-font-family;
        font-size: 4.4rem;
        letter-spacing: 0;
        line-height: 5rem;
        max-width: 300px;
    }

    .form-group{
        position: relative;
        @media(min-width:320px){
            padding-top: 7rem;
        }
        @media(min-width:768px){
            padding-top: 0;
        }
        .form-control {
            padding: 2rem;
            font-size: 2rem;
            font-family: $form-control-font;
            

            &::placeholder{
                color: $form-control-font;
                font-style: italic;
            }
            border: 1px solid #1E1E1E;
            &:focus{
                box-shadow: 0 0 0 0.3rem rgba($btn-hover-color, 0.25);
            }
        }
        .form-control-feedback {
            position: absolute;
            z-index: 2;
            color: $form-span-color;
            font-size: 2rem;
            right: 10px;
            bottom: 10px;  


        }
    }
}//about us



//Breakpoints
//XM
@media(min-width: 450px){


}

//SM
@media(min-width: 576px){
    .about-us{

        .search-group{
            img{
                right: 6%;
                bottom: 33%;
            }  
        }//search group
    }//about us
}



//MD
@media(min-width: 768px){

    .about-us{

        .about-us-item-photo{
            margin-bottom: 5rem;
        }//.about-us-item-photo
    }//about us
}


//LG
@media(min-width: 992px){
    .about-us{
        padding: 91px 0 78px;

        .about-us-item-photo{
            margin-bottom: 6.6rem;
        }//.about-us-item-photo

    }//.about-us
}

//XXL
@media(min-width: 1500px){

}
