
@font-face {
  font-family: 'BodoniSvtyTwoITCTT-Book';
  src: url('BodoniSvtyTwoITCTT-Book.eot?#iefix') format('embedded-opentype'),  url('BodoniSvtyTwoITCTT-Book.woff') format('woff'), url('BodoniSvtyTwoITCTT-Book.ttf')  format('truetype'), url('BodoniSvtyTwoITCTT-Book.svg#BodoniSvtyTwoITCTT-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}
